@model LifeManagement.Models.DB.Tag

@{
    ViewBag.Title = "Edit";
}
@using LifeManagement.Resources

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="forma">@Html.EditorFor(model => model.Name)</div>
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            </div>
            <div class="buttonbar">
                <input type="submit" value="@ResourceScr.save" class="btn btn-default halfsize" />
                @Html.ActionLink(ResourceScr.Delete, "Delete", new { id = Model.Id }, new { @class = "btn btn-default halfsize openDialog",
                               data_dialog_id = "13",
                               data_dialog_title = ResourceScr.Delete,
                               data_dialog_width = "500",
                               data_dialog_height = "auto"
                 })
            </div>

        </div>
}

