@using Microsoft.AspNet.Identity
@using LifeManagement.Resources
@model LifeManagement.ViewModels.ManageUserViewModel


@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@ResourceScr.ChangePassword</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "LMсol-md-2 control-label" })
        <div class="LMсol-md-10 longer">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "LMсol-md-2 control-label" })
        <div class="LMсol-md-10 longer">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "LMсol-md-2 control-label" })
        <div class="LMсol-md-10 longer">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="LMсol-md-offset-2 LMсol-md-10">
            <input type="submit" value="@ResourceScr.ChangePassword" class="btn btn-default" />
        </div>
    </div>
}
