@using LifeManagement.Resources
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = @User.Identity.GetUserName();
}

<h2>@ResourceScr.YouLogged <strong>@User.Identity.GetUserName()</strong>.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="LMсol-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        @Html.ActionLink(ResourceScr.back, "Index", "Cabinet")

        @*<section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
