@{
    ViewBag.Title = ResourceScr.cabinet;
}
@using LifeManagement.Enums
@using LifeManagement.Resources


<div id="linkblock">
    @{Html.RenderAction("Sidebar", "Cabinet");}
</div>
<div id="maincontent">
    @{Html.RenderAction("Index", "Alerts");}
    <div class="title">
        <h2 id="maintitle">@ResourceScr.AllEvents</h2>
        @Html.ActionLink(" ", "Create", "Tasks", null, new
        {
            @class = "addTaskIcon openDialog",
            data_dialog_id = "31",
            data_dialog_title = ResourceScr.createTask,
            data_dialog_width = "700",
            data_dialog_height = "auto"
        })
        @Html.ActionLink(" ", "Create", "Events", null, new
        {
            @class = "addEventIcon  openDialog",
            data_dialog_id = "41",
            data_dialog_title = ResourceScr.newEvent,
            data_dialog_width = "700",
            data_dialog_height = "auto"
        })
    </div>

    <div id="Today">
        <div class="subtitle"><h3>@ResourceScr.Today</h3></div>
        <div id="TodayEvent">
            @{Html.RenderAction("FilterEvents", "Events", new RouteValueDictionary { { "recordFilter", RecordFilter.Today } });}
        </div>
    </div>
    <div id="Future">
        <div class="subtitle"><h3>@ResourceScr.Future</h3></div>
        <div id="FutureEvent">
            @{Html.RenderAction("FilterEvents", "Events", new RouteValueDictionary { { "recordFilter", RecordFilter.Future } });}
        </div>
    </div>
</div>