@{
    ViewBag.Title = ResourceScr.cabinet;
}
@using LifeManagement.Models.DB
@using LifeManagement.Resources


<div id="linkblock">
    @{Html.RenderAction("Sidebar", "Cabinet");}
</div>
<div id="maincontent">
    @{Html.RenderAction("Index", "Alerts");}
    <div class="title">
        <h2>@Session["CabinetState"]</h2>
        <h2>@ResourceScr.Focus</h2>
        @Html.ActionLink(" ", "Create", "Tasks", null, new { 
            @class = "addTaskIcon openDialog",
            data_dialog_id = "31",
            data_dialog_title = ResourceScr.createTask,
            data_dialog_width = "700",
            data_dialog_height = "auto" 
        })
        @Html.ActionLink(" ", "Create", "Events", null, new { @class = "addEventIcon  openDialog",
            data_dialog_id = "41",
            data_dialog_title = ResourceScr.newEvent,
            data_dialog_width = "700",
            data_dialog_height = "auto"  
        })
    </div>
    <div class="subtitle"><h3>@ResourceScr.Today</h3></div>
    @{Html.RenderAction("Index", "Tasks");}
    @{Html.RenderAction("Index", "Events");}
    
   

   
</div>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@Scripts.Render("~/bundles/Dialog")
<script src="~/Scripts/jquery.signalR-2.0.3.js"></script>
<script src="~/signalr/hubs"></script>
@*<script src="~/Scripts/SignalR/TaskTicker.js"></script>*@