@{
    ViewBag.Title = ResourceScr.cabinet;
}
@using LifeManagement.Models.DB
@using LifeManagement.Resources


<div id="linkblock">
    @{Html.RenderAction("Sidebar", "Cabinet");}
</div>
<div id="maincontent">
    @{Html.RenderAction("Index", "Alerts");}
    <div class="title">
        <h2 id="maintitle">@ResourceScr.Focus</h2>
        @Html.ActionLink(" ", "Create", "Tasks", null, new { 
            @class = "addTaskIcon openDialog",
            data_dialog_id = "31",
            data_dialog_title = ResourceScr.createTask,
            data_dialog_width = "700",
            data_dialog_height = "auto" 
        })
        @Html.ActionLink(" ", "Create", "Events", null, new { @class = "addEventIcon  openDialog",
            data_dialog_id = "41",
            data_dialog_title = ResourceScr.newEvent,
            data_dialog_width = "700",
            data_dialog_height = "auto"  
        })
    </div>
    
    <div id="Overdue">
        <div class="subtitle"><h3>@ResourceScr.Overdue</h3></div>
    </div>
    <div id="Today">
        <div class="subtitle"><h3>@ResourceScr.Today</h3></div>
        <div id="TodayTask">
            @{Html.RenderAction("Index", "Tasks");}
        </div>
        <div id="TodayEvent">
            @{Html.RenderAction("Index", "Events");}
        </div>
    </div>
    <div id="Tomorrow">
        <div class="subtitle"><h3>@ResourceScr.Tomorrow</h3></div>
        <div id="TomorrowTask">

        </div>
        <div id="TomorrowEvent">
       
        </div>
    </div>
    <div id="FutureTask">
        <div class="subtitle"><h3>@ResourceScr.Future</h3></div>

    </div>
    <div id="FutureEvent">
        <div class="subtitle"><h3>@ResourceScr.Future</h3></div>

    </div>
    <div id="NoDueDate">
        <div class="subtitle"><h3>@ResourceScr.NoDueDate</h3></div>

    </div>



   
    
   

   
</div>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*@Scripts.Render("~/bundles/Dialog")*@
@*<script src="~/Scripts/SignalR/TaskTicker.js"></script>*@