@{
    ViewBag.Title = LifeManagement.Resources.ResourceScr.cabinet;
}
@using LifeManagement.Enums
@using LifeManagement.Models
@model IEnumerable<Routine>

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
        alert("@TempData["alertMessage"]");
    </script>
}

<h2>Дела</h2>

@Html.ActionLink(@LifeManagement.Resources.ResourceScr.createTask, "Create", "Task", new { projectId = Guid.Empty, parentTaskId = Guid.Empty }, null)
<div id="wrap">
    <div id="maincontent">

        <div id="linkblock">
            @{Html.RenderAction("Sidebar", "Cabinet");}
        </div>
        <div class="timetable">
            @{
                foreach (var routine in Model.Where(x => !x.IsDeleted))
                {
                    if (routine.Type == RoutineType.Free)
                    {
                        <div class="free" style="height: 70px">
                            <h6>@LifeManagement.Resources.ResourceScr.freeTime</h6>
                            <div>@routine.TimeString</div>
                            <div data-link=@routine.Id>
                                <span style="float: left">@Html.ActionLink(LifeManagement.Resources.ResourceScr.createTask, "QuickCreate", "Task", new { startDate = routine.StartDate , endDate = routine.EndDate }, null)</span>
                                <span style="float: right">@Html.ActionLink(@LifeManagement.Resources.ResourceScr.nothingToDo, "NothingToDo", "Task", new { startDate = routine.StartDate, endDate = routine.EndDate }, null)</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="task @routine.Task.Priority @routine.Type" style="height: @((int)((routine.EndDate - routine.StartDate).TotalMinutes*3))px; position: relative">
                            <h6><span style="float: left;">@routine.Task.Name</span></h6>
                            <div data-readiness=@routine.Id class="readiness">
                                @{
                        var percentage = routine.Task.Readiness;
                                }@percentage.ToString("F")%

                            </div><br />
                            <div class="time">@routine.TimeString</div>
                            @if (routine.Task.CompletedOn == null)
                            {
                                <div data-link=@routine.Id>
                                    @Html.ActionLink(@LifeManagement.Resources.ResourceScr.done, "Complete", "Task", new { taskId = routine.TaskId }, new { @class = "done" })
                                    @Html.ActionLink(@LifeManagement.Resources.ResourceScr.toBacklog, "ToBacklog", "Task", new { routineId = routine.Id }, new { @class = "toBacklog" })
                                </div>
                            }
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.3.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/SignalR/TaskTicker.js"></script>