@{
    ViewBag.Title = ResourceScr.Focus;
}
@using LifeManagement.Enums
@using LifeManagement.Extensions
@using LifeManagement.Resources


<div id="linkblock">
    @{Html.RenderAction("Sidebar", "Cabinet");}
</div>
<div id="maincontent">
    @{Html.RenderAction("Index", "Alerts");}
    <div class="title">
        <h2 id="maintitle">@ResourceScr.Focus</h2>
        @Html.Partial("_QuickCreateIcon")
    </div>
    
    <div id="Overdue">
        <div class="subtitle"><h3>@ResourceScr.Overdue</h3></div>
        @{Html.RenderAction("FilterTasks", "Tasks", new RouteValueDictionary { { "recordFilter", RecordFilter.Overdue } });}
    </div>
    <div id="Today">
        <div class="subtitle"><h3>@ResourceScr.Today</h3></div>
        <div id="TodayEvent">
            @{Html.RenderAction("FilterEvents", "Events", new RouteValueDictionary { { "recordFilter", RecordFilter.Today } });}
        </div>
        <div id="TodayTask">
            @{Html.RenderAction("FilterTasks", "Tasks", new RouteValueDictionary { { "recordFilter", RecordFilter.Today } });}
            @{Html.RenderAction("GetTasksCompleatedToday", "Tasks");}
        </div>
    </div>
    <div id="Tomorrow">
        <div class="subtitle"><h3>@ResourceScr.Tomorrow</h3></div>
        <div id="TomorrowTask">
            @{Html.RenderAction("FilterTasks", "Tasks", new RouteValueDictionary { { "recordFilter", RecordFilter.Tomorrow } });}
        </div>
        <div id="TomorrowEvent">
            @{Html.RenderAction("FilterEvents", "Events", new RouteValueDictionary { { "recordFilter", RecordFilter.Tomorrow } });}
        </div>
    </div>
</div>