@{
    Layout = null;
}

@using LifeManagement.Extensions
@using LifeManagement.Models.DB
@using LifeManagement.Resources
@model IEnumerable<Project>

<script type='text/javascript' src="@Url.Content("~/Scripts/tree.js")"></script>
<script>
    $(function () {
        $(".datepicker").datepicker({ dateFormat: 'dd.mm.yy' }, $.datepicker.setDefaults($.datepicker.regional[LocalizeCode])).val();
    });
</script>
<div>
    <div>
        <ul class="tree">
            <li>@Html.ActionLink(@ResourceScr.Focus, "Index", "Cabinet")</li>
            <li>@Html.ActionLink(@ResourceScr.AllTask, "AllTasks", "Cabinet")</li>
            <li>@Html.ActionLink(@ResourceScr.AllEvents, "AllEvents", "Cabinet")</li>  
            <li>
                @using (@Html.BeginForm("TimetableOnDate", "Cabinet", FormMethod.Post))
                {
                    <input type="submit" value="@ResourceScr.onDate" class="invisibleInput" />
                    <input class="datepicker invisibleInput CalendarIcon" value="@DateTime.Today.AddDays(1).ToString("dd.MM.yyyy")" type="text" name="FocusDate" />
                }

            </li>          
            
            <li>
                <div id="chapter_img1" onclick="doMenu('1');" class="closeBlock">@ResourceScr.Projects</div>
                <ul id="chapter1" class="subtree">
                    @foreach (var item in Model)
                    {
                        <li class="subpunct">
                           
                            @Html.ActionLink(item.ToString(), "GetTasks", "Projects", new { id = item.Id }, null)
                            @Html.DialogFormLink(" ", "edit", Url.Action("Edit", "Projects", new { id = item.Id }), ResourceScr.Details, "linkblock", Url.Action("Sidebar", "Cabinet"), 700, ResourceScr.HelpEdit)
                        </li>
                    }
                    <li>
                        @Html.DialogFormLink(ResourceScr.addProject, "addBlock", Url.Action("Create", "Projects"), ResourceScr.newProject, "linkblock", Url.Action("Sidebar", "Cabinet"), 700)
                    </li>
                </ul>
            </li>
            <li>
                <div id="chapter_img2" onclick="doMenu('2');" class="closeBlock">@ResourceScr.Tags</div>
                <ul id="chapter2" class="subtree">
                    @{Html.RenderAction("TagsList", "Cabinet");}
                </ul>
            </li>
            <li>@Html.ActionLink(@ResourceScr.Statistics, "ShowStatisticResult", "Cabinet")</li>
        </ul>
    </div>
</div>