@{
    Layout = null;
}

@using LifeManagement.Models.DB
@using LifeManagement.Resources
@model IEnumerable<Project>

<script type='text/javascript' src="@Url.Content("~/Scripts/tree.js")"></script>

<div>
    <div>
        <ul class="tree">
            <li>@Html.ActionLink(@ResourceScr.Focus, "Index", "Cabinet")</li>
            <li>@Html.ActionLink(@ResourceScr.AllTask, "AllTasks", "Cabinet")</li>
            <li>@Html.ActionLink(@ResourceScr.AllEvents, "AllEvents", "Cabinet")</li>            
            
            <li>
                <div id="chapter_img1" onclick="doMenu('1');" class="closeBlock">@ResourceScr.Projects</div>
                <ul id="chapter1" class="subtree">
                    @foreach (var item in Model)
                    {
                        <li class="subpunct">
                            @Html.ActionLink(" ", "Edit", "Projects", new { id = item.Id }, new { 
                                      @class = "edit openDialog",
                                      data_dialog_id = "22",
                                      data_dialog_title = ResourceScr.Details,
                                      data_dialog_width = "700",
                                      data_dialog_height = "auto" 
                            }) 

                            @Html.ActionLink(item.ToString(), "GetTasks", "Projects", new { id = item.Id }, null)
                           
                           
                        </li>
                    }
                    <li>@Html.ActionLink(ResourceScr.addProject, "Create", "Projects", null, new { 
                                       @class = "addBlock openDialog",
                                      data_dialog_id = "21",
                                      data_dialog_title = ResourceScr.newProject,
                                      data_dialog_width = "700",
                                      data_dialog_height = "auto"  })
                    </li>
                </ul>
            </li>
            <li>
                <div id="chapter_img2" onclick="doMenu('2');" class="closeBlock">@ResourceScr.Tags</div>
                <ul id="chapter2" class="subtree">
                    @{Html.RenderAction("TagsList", "Cabinet");}
                </ul>
            </li>
        </ul>
    </div>
</div>