@using System.Web.Mvc.Html5
@model LifeManagement.Models.DB.Event

@{
    ViewBag.Title = "Create";
}

<script type='text/javascript' src="@Url.Content("~/Scripts/availableFields.js")"></script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontalLM">
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label LMсol-md-3" })
            <div class="LMсol-md-9">
                @Html.Html5EditorFor(model => model.Name, htmlAttributes: new {@required = "true", @class = "longer"})
                <br>
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label LMсol-md-3" })
            <div class="LMсol-md-9">
                @Html.Html5Editor("StartTime", InputTypes.InputType.Text, htmlAttributes: new { @value = ViewBag.TimeStart, @required = "true", @class = "timepicker short" })
                @Html.Html5EditorFor(model => model.StartDate, InputTypes.InputType.Text, htmlAttributes: new { @required = "true", @value = ViewBag.DateStart.ToString("dd.MM.yyyy"), @class = "datepicker long" })
                <br>
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label LMсol-md-3" })
            <div class="LMсol-md-9">
                @Html.Html5Editor("EndTime", InputTypes.InputType.Text, htmlAttributes: new { @value = ViewBag.TimeEnd, @required = "true", @class = "timepicker short" })
                @Html.Html5EditorFor(model => model.EndDate, InputTypes.InputType.Text, htmlAttributes: new { @required = "true", @value = ViewBag.DateEnd.ToString("dd.MM.yyyy"), @class = "datepicker long" })
                <br>
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>
        <a href="javascript:void(0)" onclick="showMore()" class=@ViewBag.BlockState id="moreLabel">@LifeManagement.Resources.ResourceScr.More</a>
        <div id="editionalInfo" style="display: @(ViewBag.BlockState.Equals("closeBlock")? "none" : "block")">
            <div class="form-group">
                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label LMсol-md-3" })
                <div class="LMсol-md-9">
                    @Html.TextAreaFor(model => model.Note, htmlAttributes: new { @class = "longer" })
                    <br>
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsUrgent, htmlAttributes: new { @class = "control-label LMсol-md-3" })
                <div class="LMсol-md-9">
                    @Html.EditorFor(model => model.IsUrgent)
                    @Html.ValidationMessageFor(model => model.IsUrgent)
                </div>
            </div>

            <div class="form-group">
                @Html.Label(LifeManagement.Resources.ResourceScr.Tags, htmlAttributes: new { @class = "control-label LMсol-md-3" })
                <div class="LMсol-md-9">
                    @Html.ListBox("Tags", null, htmlAttributes: new { @class = "longer" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label(@LifeManagement.Resources.ResourceScr.Alerts, htmlAttributes: new { @class = "control-label LMсol-md-3" })
                <div class="LMсol-md-9">
                    @Html.DropDownList("Alerts", null, htmlAttributes: new { @class = "longer" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label(@LifeManagement.Resources.ResourceScr.Repeat, htmlAttributes: new { @class = "control-label LMсol-md-3" })
                <div class="LMсol-md-9">
                    <table>
                        <tr>
                            <td>
                                @SelectExtensions.DropDownList(Html, "RepeatPosition", null, htmlAttributes: new { @onchange = "showDate()" })
                            </td>
                            <td>
                                <div id="ForHide" style="display: @ViewBag.RepeatState ">
                                    @LifeManagement.Resources.ResourceScr.till
                                    @Html.Html5EditorFor(model => model.StopRepeatDate, InputTypes.InputType.Text, htmlAttributes: new {  @class = "datepicker short", @value = ViewBag.DateR.ToString("dd.MM.yyyy") })   
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">@Html.ValidationMessageFor(model => model.StopRepeatDate)</td> 
                        </tr>
                    </table>
                </div>
            </div>
        </div>
            <div class="buttonbar">
                <input type="submit" value="@LifeManagement.Resources.ResourceScr.submit" class="btn btn-default fullsize" />
            </div>
        </div>
}
