@using System.Web.Mvc.Html5
@model LifeManagement.Models.DB.Event

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Note, htmlAttributes: new { @class = "longer" })
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Html5Editor("StartTime", InputTypes.InputType.Time, htmlAttributes: new { @value = "00:00" })
                @Html.Html5EditorFor(model => model.StartDate, InputTypes.InputType.Date)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Html5Editor("EndTime", InputTypes.InputType.Time, htmlAttributes: new { @value = "00:00" })
                @Html.Html5EditorFor(model => model.EndDate, InputTypes.InputType.Date)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsUrgent, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.IsUrgent)
                @Html.ValidationMessageFor(model => model.IsUrgent)
            </div>
        </div>

        <div class="form-group">
            @Html.Label(LifeManagement.Resources.ResourceScr.Tags, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.ListBox("Tags")
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@LifeManagement.Resources.ResourceScr.Alerts, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("Alerts")
            </div>
        </div>

        <div class="buttonbar">
            <input type="submit" value="@LifeManagement.Resources.ResourceScr.submit" class="btn btn-default fullsize" />
        </div>
    </div>
}
