@model LifeManagement.Models.DB.Event

@{
    ViewBag.Title = "Delete";
}


<h3>@LifeManagement.Resources.ResourceScr.DeleteQustion @LifeManagement.Resources.ResourceScr.Event @Model.Name ?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="buttonbar">
            <input type="submit" value="@LifeManagement.Resources.ResourceScr.Delete" class="btn btn-default fullsize" />
        </div>
    }
</div>
