@using System.Web.Mvc.Html5
@using LifeManagement.Enums
@using LifeManagement.Extensions
@using LifeManagement.Resources
@model LifeManagement.Models.DB.Event

<script type='text/javascript' src="@Url.Content("~/Scripts/availableFields.js")"></script>
<script>
    $(function () {
        $(".datepicker").datepicker({ dateFormat: 'mm.dd.yy' }).val();
    });
    $(function () {
        $(".timepicker").timepicker();
    });
</script>

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.GroupId)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9 forma">
                @Html.Html5EditorFor(model => model.Name, htmlAttributes: new { @required = "true", @class = "longer" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9 forma">
                @Html.TextAreaFor(model => model.Note, htmlAttributes: new { @class = "longer" })
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9 forma">
                @Html.Html5Editor("StartTime", InputTypes.InputType.Text, htmlAttributes: new { @value = Model.StartDate.toTimeFormat(), @required = "true", @class = "timepicker" })
                @Html.Html5EditorFor(model => model.StartDate, InputTypes.InputType.Text, new { @required = "true", @value = Model.StartDate.HasValue ? Model.StartDate.Value.ToString("MM/dd/yyyy") : "", @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9 forma">
                @Html.Html5Editor("EndTime", InputTypes.InputType.Text, htmlAttributes: new { @value = Model.EndDate.toTimeFormat(), @required = "true", @class = "timepicker" })
                @Html.Html5EditorFor(model => model.EndDate, InputTypes.InputType.Text, new { @required = "true", @value = Model.EndDate.HasValue ? Model.EndDate.Value.ToString("MM/dd/yyyy") : "", @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsUrgent, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9 forma">
                @Html.EditorFor(model => model.IsUrgent)
                @Html.ValidationMessageFor(model => model.IsUrgent)
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label(LifeManagement.Resources.ResourceScr.Tags, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9 forma">
                @Html.ListBox("Tags")
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@LifeManagement.Resources.ResourceScr.Alerts, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9 forma">
                @Html.DropDownList("Alerts")
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@LifeManagement.Resources.ResourceScr.Repeat, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9 forma">
                <table>
                    <tr>
                        <td class="forma">
                            @Html.DropDownList("RepeatPosition", null, htmlAttributes: new { @onchange = "showDate()" })
                        </td>
                        <td>
                            @if (Model.RepeatPosition == RepeatPosition.None)
                            {
                              ViewBag.style = "none";
                            }
                            else
                            {
                                ViewBag.style = "block";
                            }
                            <div id="ForHide" style="display: @ViewBag.style" class="forma">
                                @LifeManagement.Resources.ResourceScr.till
                                @Html.Html5EditorFor(model => model.StopRepeatDate, InputTypes.InputType.Text, new { @required = "true", @value = Model.StopRepeatDate.HasValue ? Model.StopRepeatDate.Value.Date.ToString("MM/dd/yyyy") : Model.EndDate.Value.AddYears(1).ToString("MM/dd/yyyy"), @class = "datepicker" })
                            </div> 

                        </td>
                    </tr>
                </table>
               
            </div>
        </div>
        @if(Model.RepeatPosition != RepeatPosition.None){
            
            <div class="form-group">
                @Html.Label(@ResourceScr.EditAll, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.CheckBox("ForAll")
                </div>
            </div>
        }
      <div class="buttonbar">
             <input type="submit" value="@ResourceScr.save" class="btn btn-default halfsize" />
             @Html.ActionLink(ResourceScr.Delete, "Delete", new {id = Model.Id}, new
             {
                 @class = "btn btn-default halfsize openDialog",
                 data_dialog_id = "43",
                 data_dialog_title = ResourceScr.Delete,
                 data_dialog_width = "700",
                 data_dialog_height = "auto"
             })



        </div>
    </div>
}
