@using LifeManagement.Resources
@model IEnumerable<LifeManagement.Models.DB.Event>

@foreach (var item in Model) {
    <div class="event">
        <div class="taskInfo">
            <div class="name">
                @if (item.IsUrgent)
                    {
                    <div class="Urgent"></div>
                    }
                @item.Name
            </div>
            <div>
                @Html.ActionLink(" ", "Edit", "Events", new { id = item.Id },
                            new { @class = "moreInfoIcon openDialog",
                                data_dialog_id = "32",
                                data_dialog_title = ResourceScr.Details,
                                data_dialog_width = "700",
                                data_dialog_height = "auto"  })
        </div>
        <span class="time">@item.StartDate - @item.EndDate</span>
        <div class="tags">
            @foreach (var tag in item.Tags)
                    {
                <text>@tag.Name </text>
                    }
        </div>
    </div>
</div>

}
