@{
    ViewBag.Title = "Home Page";
}
@using LifeManagement.Resources

<div id="content">    
        <h1>Life Management</h1>
    <p>@ResourceScr.slogan</p>
 
    <div class="row">
        <div class="col-md-6">
            <h2>@ResourceScr.Remarks</h2>
            <p>
                @ResourceScr.advRemark
            </p>
        </div>
        <div class="col-md-6">
            <h2>@ResourceScr.Reminders</h2>
            <p>@ResourceScr.advReminders</p>
        </div>
    </div>
</div>