@model LifeManagement.ObsoleteModels.Project
@using LifeManagement.Resources
@{
    ViewBag.Title = ResourceScr.createProject;
}


<h2> @ResourceScr.createProject</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">          

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ParentProjectId, ResourceScr.ParentProject, new { @class = "control-label col-md-3" })
                <div class="col-md-10">
                    @Html.DropDownList("ParentProjectId", String.Empty)
                    @Html.ValidationMessageFor(model => model.ParentProjectId)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@ResourceScr.submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(ResourceScr.back, "Index", "Cabinet")
</div>
