@{
    ViewBag.Title = "Life Management";
}
@using LifeManagement.Resources

<div id="content">
    <div class="LMсol-md-12">
        <h1>Life Management</h1>
        <div class="Contol"></div>
        <p>@ResourceScr.slogan</p>
    </div>
    
    <div class="rowLM">

        <div class="LMсol-md-6">
            <h2>@ResourceScr.Remarks</h2>
            <div class="todo-list"></div>
            <p>
                @ResourceScr.advRemark
            </p>
        </div>
        <div class="LMсol-md-6">
            <h2>@ResourceScr.Reminders</h2>
            <div class="remainder"></div>
            <p>@ResourceScr.advReminders</p>
        </div>
    </div>
</div>