@{
    ViewBag.Title = "Life Management";
}
@using LifeManagement.Resources

<div id="content">
    <table class="promo">
        <tr>
            <td class="Contol"></td>
            <td class="promotext"><h1>Life Management</h1><br>@ResourceScr.Anotation</td>
        </tr>
        <tr>
            <td class="todo-list">@ResourceScr.advList</td>
            <td class="increase">@ResourceScr.advEfficiency</td>
        </tr>
        <tr>
            <td class="filter">@ResourceScr.advFilter</td>
            <td class="remainder">@ResourceScr.advReminders</td>
        </tr>
        <tr>
            <td colspan="2" class="footer">@ResourceScr.slogan</td>
        </tr>
    </table>
</div>