@using LifeManagement.Resources
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
    
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/Dialog")
        <!--[if IE]><script type="text/javascript" src="~/Scripts/excanvas.js"></script><![endif]-->
        @Scripts.Render("~/bundles/CircleSlider")
        <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script type='text/javascript' src="@Url.Content("~/Scripts/tree.js")"></script>

        <link rel="icon" href="/Content/Images/1.png" type="ico"> 
        <script language="javascript">
            function setCookie(cookieName, cookieValue, nDays) {
                var today = new Date();
                var expire = new Date();
                if (nDays == null || nDays == 0) nDays = 1;
                expire.setTime(today.getTime() + 3600000 * 24 * nDays);
                document.cookie = cookieName + "=" + escape(cookieValue) + ";expires=" + expire.toGMTString();
            }

            var __date = new Date();
            setCookie('timeZoneOffset', __date.getTimezoneOffset(), 1);
        </script>

    </head>
<body onload="onBodyLoad()" class="LifeManagment" id="body-LifeManagment">
    <div class="navbarLM navbarLM-inverse">
        <div class="navbarLM-header">
            <div id="logo"><a href="/"><img src="/content/Images/LogoWithText.png" alt="LifeManagement"></a></div>
        </div>
        <div class="searchContainer">
            @using (@Html.BeginForm("SearchResult", "Cabinet", FormMethod.Post, new { @class = "search" }))
            {
                <input type="search" name="TextForSearch" id="TextForSearch" placeholder="@ResourceScr.Search" class="input" required="true" />
                <input type="submit" name="" value="" class="submit" />
            }
        </div>
        <div id="menuLM">
            <ul id="navbar1">
                <li>
                    <div id="menuBTN"><img src="/content/Images/MenuWhite.png" alt="Menu"></div>
                    <ul>
                        <li>
                            <div class="flagContainer">
                                @Html.ActionLink(" ", "ChangeLanguage", "Home", new { idLeng = "uk-ua" }, new { @class = "ua" })
                                @Html.ActionLink(" ", "ChangeLanguage", "Home", new { idLeng = "en-us" }, new { @class = "eng" })
                                @Html.ActionLink(" ", "ChangeLanguage", "Home", new { idLeng = "ru-ru" }, new { @class = "ru" })
                            </div>
                        </li>

                        @Html.Partial("_LoginPartial")
                        


                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="body-contentLifeManagment">
        @RenderBody()
        <hr />

    </div>
    @RenderSection("scripts", required: false)

</body>
</html>

