<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/skeleton.css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="/Content/Images/1.png" type="ico"> 
    <script language="javascript">
        function setCookie(cookieName, cookieValue, nDays) {
            var today = new Date();
            var expire = new Date();
            if (nDays == null || nDays == 0) nDays = 1;
            expire.setTime(today.getTime() + 3600000 * 24 * nDays);
            document.cookie = cookieName + "=" + escape(cookieValue) + ";expires=" + expire.toGMTString();
        }

        var __date = new Date();
        setCookie('timeZoneOffset', __date.getTimezoneOffset(), 1);
    </script>
</head>
<body>
    <div class="navbar navbar-inverse">
        @*<div class="container">*@
            <div class="navbar-header">
                <div id="logo"><a href="/"><img src="/content/Images/LogoWithText.png" alt="LifeManagement" align="left"></a></div>
                  
             </div>
            <div id="menu">


                <ul id="navbar1">
                    <li>
                        <div id="menuBTN"><img src="/content/Images/MenuWhite.png" alt="LifeManagement" align="left"></div>

                        <ul>
                            <li>
                                <div class="flagContainer">
                                    @Html.ActionLink(" ", "ChangeLanguage", "Home", new { idLeng = "uk-ua" }, new { @class = "ua" })
                                    @Html.ActionLink(" ", "ChangeLanguage", "Home", new { idLeng = "en-us" }, new { @class = "eng" })
                                    @Html.ActionLink(" ", "ChangeLanguage", "Home", new { idLeng = "ru-ru" }, new { @class = "ru" })
                                </div>
                            </li>

                            @Html.Partial("_LoginPartial")
                            <li>@Html.ActionLink(@LifeManagement.Resources.ResourceScr.cabinet, "Index", "Cabinet")</li>
                            <li><a href="/">@LifeManagement.Resources.ResourceScr.About</a></li>
                            <li><a href="/">@LifeManagement.Resources.ResourceScr.Feedback</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        @*</div>*@
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
