@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
        <li>
            @Html.ActionLink(@LifeManagement.Resources.ResourceScr.greeting+", " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@LifeManagement.Resources.ResourceScr.logoff</a></li>
    }
}
else
{
        <li>@Html.ActionLink(@LifeManagement.Resources.ResourceScr.register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@LifeManagement.Resources.ResourceScr.login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
