@using LifeManagement.Extensions
@using LifeManagement.Resources
@model  LifeManagement.ViewModels.VersionsViewModel
<script type='text/javascript' src="@Url.Content("~/Scripts/availableFields.js")"></script>

@if (!Model.IsEmpty())
{
    using (@Html.BeginForm("ChooseVariant", "Tasks", new { id = ViewData["idList"], date = ViewData["Date"] }, FormMethod.Post, new { @class = "withScroll" }))
    {
        <div>
            <input type="radio" name="radio" id="radio1" class="radio" value="0" checked/>
            <label for="radio1">@ResourceScr.VersionToDoList 1</label>
        </div>
        @Html.DisplayFor(m => m.ToDoLists[0])
        if (Model.ToDoLists.Count > 1)
        {
            <a href="javascript:void(0)" onclick=" showMore() " class="closeBlock" id="moreLabel">@ResourceScr.MoreVersions</a>
            <div id="editionalInfo" style="display: none">
                @for (int i = 1; i < Model.ToDoLists.Count; i++)
                {
                    <div>
                        <input type="radio" name="radio" id="radio" value="@i" class="radio"/>
                        <label for="radio">@ResourceScr.VersionToDoList @(i + 1) </label>
                    </div>

                    @Html.DisplayFor(m => m.ToDoLists[i])
                }
            </div>
        }
        <div class="bottomfix">
            <input type="submit" value="@ResourceScr.AddToTimetable" class="btn btn-default fullsize"/>
        </div>
    }
}
else
{
    <h3>@ResourceScr.noAvailableTasks</h3>
}
