@using System.Web.Mvc.Html5
@using LifeManagement.Controllers
@model LifeManagement.Models.DB.Task

@{
    ViewBag.Title = "Create";
}
<script type='text/javascript' src="@Url.Content("~/Scripts/availableFields.js")"></script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
               @Html.Html5EditorFor(model => model.Name, htmlAttributes: new { @required = "true" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("ProjectId")
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Html5EditorFor(model => model.StartDate, InputTypes.InputType.Date, htmlAttributes: new { @onchange = "dis()"})
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.Html5Editor("EndTime", InputTypes.InputType.Time, htmlAttributes: new { @value = "00:00", @min = "00:00" })
                @Html.Html5EditorFor(model => model.EndDate, InputTypes.InputType.Date, htmlAttributes: new {@onchange ="dis()"})
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsUrgent, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.IsUrgent)
                @Html.ValidationMessageFor(model => model.IsUrgent)
            </div>
        </div>

        <div class="form-group">
            @Html.Label(LifeManagement.Resources.ResourceScr.Tags, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.ListBox("Tags")
            </div>
        </div>
        <div class="form-group">
            @Html.Label(LifeManagement.Resources.ResourceScr.Alert, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("Alerts", (IEnumerable<SelectListItem>)ViewBag.Alerts, new { @disabled = "true" })
            </div>
        </div>

        <div class="buttonbar">
                <input type="submit" value="@LifeManagement.Resources.ResourceScr.submit" class="btn btn-default fullsize" />
        </div>
    </div>
}
