@using System.Web.Mvc.Html5
@using System.Web.UI.HtmlControls
@using LifeManagement.Extensions
@using LifeManagement.Resources
@model LifeManagement.Models.DB.Task

@{
    ViewBag.Title = "Edit";
}
    @Html.AntiForgeryToken()

    <div class="form-horizontalLM">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label LMсol-md-3" })
            <div class="LMсol-md-9 forma">
                @Model.Name
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label LMсol-md-3" })
            <div class="LMсol-md-9 forma">
                @Model.Project.Name
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label LMсol-md-3" })
            <div class="LMсol-md-9 forma">
                @Model.Note
            </div>
        </div>
       
        <div class="form-group">
            @Html.Label(ResourceScr.TimeL, htmlAttributes: new { @class = "control-label LMсol-md-3" })
            <div class="LMсol-md-9  forma">
                @Model.ConvertTimeToNice()
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsImportant, htmlAttributes: new { @class = "control-label LMсol-md-3" })
            <div class="LMсol-md-9 forma">
                @Html.Html5EditorFor(model => model.IsImportant, null, htmlAttributes: new {@disabled="false", @type ="checkbox" })
            </div>
       </div>
     
    <div class="form-group">
        @Html.Label(ResourceScr.Tags, htmlAttributes: new { @class = "control-label LMсol-md-3" })
        <div class="LMсol-md-9 forma">
            @foreach (var tag in Model.Tags)
            {
                <text>@tag.Name  </text>
            }
        </div>
    </div>
          
        <div class="buttonbar">
            @Html.DialogFormLink(ResourceScr.Delete, "btn btn-default fullsize", Url.Action("Delete", "Tasks", new { id = Model.Id }), ResourceScr.Delete, "", "", 700)
        </div>
    </div>