@{
    Layout = null;
}

@using LifeManagement.Extensions
@using LifeManagement.Resources
@model IEnumerable<LifeManagement.Models.DB.Task>



@foreach (var item in Model)
{
    if (item.CompleteLevel < 100)
    {
        <div class="task @item.Complexity">
            <div class="taskComleateLevel" data-id=@item.Id>
                <input class="knob" data-width="45" data-height="45" data-angleoffset=-179 data-displayprevious=true data-anglearc=358 data-fgcolor="#0e0e0e" value='@item.CompleteLevel'>
            </div>
            <div class="taskInfo">
                <div class="name">
                    @if (item.IsImportant)
                    {
                        <div class="Urgent"></div>
                    }
                    @item.Name
                </div>
                <div>
                    @Html.DialogFormLink(" ", "moreInfoIcon", Url.Action("Edit", "Tasks", new { id = item.Id }), ResourceScr.Details, "body-LifeManagment", "", 700)
                </div>
                <span class="time">@item.ConvertTimeToNice()</span>
                <div class="tags">
                    @foreach (var tag in item.Tags)
                    {
                        @Html.ActionLink(tag.Name, "GetRecords", "Tags", new { id = tag.Id }, null)
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="Сompleted @item.Complexity">
            <div class="taskComleateLevel" data-id=@item.Id>
                <input class="knob" data-width="45" data-angleoffset=-179 data-anglearc=358 data-displayprevious=true data-fgcolor="#0e0e0e" value='@item.CompleteLevel'>
            </div>
            <div class="taskInfo">
                <div class="name">
                    @if (item.IsImportant)
                    {
                        <div class="Urgent"></div>
                    }
                    @item.Name
                </div>
                <div>
                    @Html.DialogFormLink(" ", "moreInfoIcon", Url.Action("Display", "Tasks", new { id = item.Id }), ResourceScr.Details, "body-LifeManagment", "", 700)
                </div>
                <span class="time">@item.ConvertTimeToNice(true)</span>
                <div class="tags">
                    @foreach (var tag in item.Tags)
                    {
                        @Html.ActionLink(tag.Name, "GetRecords", "Tags", new { id = tag.Id }, null)
                    }
                </div>
            </div>
        </div>
    }

}