@{
    Layout = null;
}

@using LifeManagement.Extensions
@using LifeManagement.Resources
@model IEnumerable<LifeManagement.Models.DB.Task>


@if (Model.Any())
{
    using (@Html.BeginForm("MakeTask", "Tasks", FormMethod.Post))
    {
        foreach (var item in Model)
        {

            <div class ="elem">
                <input type="checkbox" name="TasksId" class="taskcomp" value="@item.Id" />
                <div class="taskInfo">
                    <div class="name">
                        @if (item.IsUrgent)
                        {
                            <div class="Urgent"></div>
                        }
                        @item.Name
                    </div>
                    <span class="time">@item.ConvertTimeToNice()</span>
                </div>
            </div>
        }
        <div class="buttonbar">
            <input type="submit" value="@ResourceScr.doToday" class="submit" />
        </div>
    }
}
else
{
    <h3>@ResourceScr.noAvailableTasks</h3>
}
