@using LifeManagement.Resources
@{
    Layout = null;
}

@model IEnumerable<LifeManagement.Models.DB.Alert>

@{
    ViewBag.Title = "Index";
}
<div class="title">
    <h2>@ResourceScr.Alerts</h2>
</div>
<div class="AlertsBox">
    @foreach (var item in Model)
    {
        <div class="alertLM">
            <div class="taskInfo">
                <div class="name">
                    @item.Name
                </div>
                
                <span class="time">@item.Date</span>
            </div>
            <div>
                @Html.ActionLink(" ", "Delete", "Alerts", new { id = item.Id }, new {@class = "closeIcon"})
            </div>
        </div>
    }
    @if (!Model.Any())
    {
        <h4 style="text-align: center;">@ResourceScr.NoAlerts</h4>
    }
</div>
